* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  *{
    box-sizing:border-box;
  }
  body{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
  }
  .panel{
    color:rgb(51, 51, 51);
    font-weight:100;
  }
  .logo path{
    pointer-events:none;
    fill:none;
    stroke-linecap:round;
    stroke-width:7;
    stroke:rgb(255, 255, 255);
  }
  .wechat-group img{
    max-width:220px;
    height:auto;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    width:100%;
  }
  .welcome-img img{
    width:100%;
  }
  .bg-gradient-primary{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
  }
  .display-1.mb-4{
    font-weight:400;
  }
  .htmlpage-row{
    display:table;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    width:100%;
  }
  .htmlpage-cell{
    width:8%;
    display:table-cell;
    height:75px;
  }
  #nav-1 .header-inner{
    width:100%;
  }
  #nav-1 .header-inner::after{
    content:" ";
    height:0px;
    display:block;
    visibility:hidden;
    clear:both;
  }
  #nav-1 h1{
    float:left;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    font-weight:900;
    font-size:28px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-family:Roboto, Arial, sans-serif;
  }
  #nav-1 > a{
    display:inline-block;
    width:138px;
    height:22px;
  }
  #nav-1 img{
    height:22px;
    width:auto;
  }
  #nav-1 nav{
    float:right;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
  }
  #nav-1 nav ul{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  #nav-1 nav ul li{
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    margin-top:0px;
    margin-right:6px;
    margin-bottom:0px;
    margin-left:0px;
    list-style-position:initial;
    list-style-image:initial;
    list-style-type:none;
    display:inline-block;
    zoom:1;
  }
  #nav-1 nav ul li a{
    color:rgba(0, 0, 0, 0.5);
    font-size:16px;
    padding-top:6px;
    padding-right:14px;
    padding-bottom:6px;
    padding-left:14px;
    position:relative;
    transition-behavior:normal;
    transition-duration:0.2s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:all;
  }
  #nav-1 nav ul li a:hover{
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
  }
  #nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
    outline-color:initial;
    outline-style:none;
    outline-width:initial;
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
    color:white;
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(31, 181, 123);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
  }
  .footer-1{
    margin-top:60px;
    background-color:rgb(34, 34, 34);
  }
  .footer-1 .media-container-row{
    padding-top:10px;
    padding-right:0px;
    padding-bottom:10px;
    padding-left:0px;
    width:100%;
    color:rgb(122, 122, 122);
  }
  .footer-1 a{
    color:rgb(255, 255, 255);
    text-decoration-line:none;
    text-decoration-thickness:initial;
    text-decoration-style:initial;
    text-decoration-color:initial;
  }
  p{
    display:block;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
  }
  .align-center{
    text-align:center;
  }
  .footer-1 .mbr-text{
    font-size:14px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
  }
  .c1545{
    text-align:center;
  }
  .c1537{
    text-align:center;
  }
  @media (max-width: 768px){
    .htmlpage-cell{
      width:100%;
      display:block;
    }
  }
  